<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                 <binding name="WebServiceBinding" allowCookies="true" maxBufferSize="9999999" maxReceivedMessageSize="9999999" openTimeout="00:10:00"   
                 closeTimeout="00:10:00"   
                 sendTimeout="00:10:00"   
                 receiveTimeout="00:10:00"> 
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.smart-web.dk/service.php" binding="basicHttpBinding"
                bindingConfiguration="WebServiceBinding" contract="ServiceReference1.WebServicePort"
                name="WebServicePort" />
        </client>
    </system.serviceModel>
</configuration>